.Currencies {
  width: 100%;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  
  border-top: 1px solid var(--grey-800);
  padding-top: 10px;
}

.CurrenciesLine {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  gap: 5px;
}

.CurrenciesLabel {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-200);
  line-height: 1;
}

.CurrenciesValue {
  font-size: 16px;
  color: var(--grey-200);
  letter-spacing: -0.5px;
  line-height: 1;

  font-family: 'Roboto Mono';
  text-align: right;
}

.CurrenciesValue strong {
  font-weight: 500;
}

.Total {
  padding-top: 10px;
}

.CurrenciesFallback {
  width: 100%;

  display: flex;
  justify-content: center;
  
  font-size: 14px;
  color: var(--grey-500);
}
